<div class="col-10 offset -1 about">
  <h1>About Hockey Quotes</h1>

  <p>
    Hockey Quotes was built by Josh Wilson with the help of the Firehose Project and Ben Ricker.
  </p>
  <div class="row">
  <div class="col-12 col-sm-4">
  <%= image_tag 'Josh.jpg', class: 'img-fluid' %>
  </div>
  </div>
  <br />
  <p>
    Thanks for stopping by!
  </p>
  <p>
    If you want to learn how to code - start <a target=">blank" href="https://online.bootcampspot.com"> here</a>
  </p>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />